/* Dafonts Fonts */

@font-face {
  font-family: "Lets Play";
  src: url("fonts/lets-play.ttf") format("truetype");
}

/* Main Page CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-image: url("image/background.jpg");
}

header {
  position: fixed;
  width: 100%;
  top: 0;
}

section {
  margin-top: 80px;
}
h1 {
  color: lightgray;
  font-family: "Lets Play";
  font-size: 65px;
  text-align: center;
}

h2,
h3,
p,
li {
  font-family: 'Nunito', sans-serif;
}

li {
  list-style-type: none;
}

.sub-image {
  width: 10%;
  float: left;
}

.main-image {
  border: 5px solid black;
  border-radius: 20%;
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 25%;
}

.underline {
  line-height: 2em;
  text-decoration: underline;
}
.menu {
  max-width: 90%;
  margin: 0 auto;
}

.menu > ul > li {
  display: inline-block;
  background: white;
  width: 33%;
  margin-bottom: 2px;
  position: relative;
  vertical-align: top;
}

.menu ul li a {
  display: inline-block;
  background: darkred;
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: white;
  transition: .3s;
}

.menu ul li a:hover {
  background: black;
  color: white;
  transition: .3s;

}

.sub-menu {
  display: none;
}

.menu-item:hover .sub-menu {
  display: block;
  position: absolute;
  top: 40px;
  background: blue;
  width: 100%;
}

.cloud {
  position: absolute;
  width: 300px;
  top: 0;
  animation: float 10s linear infinite;
}




@keyframes float {
  from {
    left: -400px;
  }
  to {
    left: 1500px;
  }
}
